body {
  background-color: black;
}

.s-logo {
  padding: 3% 3% 0 3%;
}

.tbl {
  padding: 3%;
}

.t-h-s {
  font-size: 1.1rem;
}

.s-h1-w {
  padding: 0 3%;
}

h1 {
  font-weight: bolder;
  font-size: 3rem;
  color: #ff9999;
}

footer {
  background-color: #212529;
}

.sfb {
  height: 10rem;
}

.sdb {
  padding: 1.5%;
}

.sbb {
  margin: 0 0.5%;
}
